<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org"
      xmlns:sec="http://thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <title>Home Page </title>
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-dark fixed-top" id="mainNav">
    <div class="container">
        <a class="navbar-brand" href="#page-top">
            <!--                    <img src="assets/img/navbar-logo.svg" alt="..." />-->
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
            Menu
            <i class="fas fa-bars ms-1"></i>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav text-uppercase ms-auto py-4 py-lg-0">
                <li class="nav-item"><a class="nav-link" th:href="@{/digital/index}">Home</a></li>
                <li class="nav-item"><a class="nav-link" th:href="@{/digital/subject-dropdown}">AddImage</a></li>
                <li class="nav-item"><a class="nav-link" th:href="@{/digital/subject/create}">Create-Folder</a></li>
                <li class="nav-item"><a class="nav-link" th:href="@{/digital/recognitionPage}">Recognition</a></li>
                <li class="nav-item"><a class="nav-link" th:href="@{/digital/getVerification}">Verification</a></li>
                <li class="nav-item" th:if="${username!=null}"><a class="nav-link" th:href="@{/digital/logout}">logout</a></li>
                <li class="nav-item" th:if="${username==null}"><a class="nav-link" th:href="@{/digital/LoginPage} ">Login</a></li>
                <li class="nav-item" th:if="${username==null}"><a class="nav-link" th:href="@{/digital/signup}">SignUp</a></li>
            </ul>
        </div>
    </div>
</nav>
<h2> your Company Home Page - Yoohooooooo!  No SOUP!</h2>
<hr>
<p>Welcome to your Company Home page!</p>
<!--<p><a th:href="@{/digital/LoginPage}">Lets login</a></p>-->

<hr>


<hr>
<!-- Add a link to point to /leader. this is for the managers-->

<!--<div sec:authorize="hasRole('MANAGER')">-->
<!--    <p> <a th:href="@{/leaders}"> LeaderShip Meeting</a>-->
<!--        (Only for Managers peeps)-->
<!--    </p>-->
<!--</div>-->

<!--<br>-->

<!--<div sec:authorize="hasRole('ADMIN')">-->
<!--    <p> <a th:href="@{/admins}"> ADMINS Meeting</a>-->
<!--        (Only for ADMINS peeps)-->
<!--    </p>-->
<!--</div>-->

<!--<hr>-->
<!--  <form action="#" th:action="@{logout}" method="POST">-->
<!--      <input type="submit" value="Logout"/>-->
<!--  </form>-->
</body>
</html>